<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
<!--        <h2>Jan Gieseler</h2>-->
        <p><b>Research and Scholarly Interests</b>: Levitodynamics, Quantum Optics, Artificial Intelligence</p>
      </header>
      <p>Jan is a postdoctoral fellow at ICFO. Before, he worked in the Labs of Mikhail Lukin at Harvard University and Lukas Novotny at ETH Zürich. He received a Master's in physics from the University of Karlsruhe, Germany and Master's in Optoelectronics and Lasers at the Heriot-Watt University, Scotland. He earned his doctorate from ICFO, Spain, where he graduated cum laude. His awards include the ICFO PhD Thesis Prize, the Premi Extraordinari of the Universitat Politecnica de Catalunya, and he was selected Reviewer of the Year 2019 by the New Journal of Physics.
      </p>
<!--      <ul class="actions">-->
<!--        <li><a href="#" class="button big">Learn More</a></li>-->
<!--      </ul>-->
    </div>
    <span class="image object">
      <img src="assets/images/JG_lab.jpg" alt="" />
    </span>
  </section>
