<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
<!--        <section id="search" class="alt">-->
<!--          <form method="post" action="#">-->
<!--            <input type="text" name="query" id="query" placeholder="Search" />-->
<!--          </form>-->
<!--        </section>-->

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '#' | absolute_url }}">Homepage</a></li>
            <li><a href="{{ 'publications.html' | absolute_url }}">Publications</a></li>
<!--            <li><a href="{{ 'generic.html' | absolute_url }}">Generic</a></li>-->
<!--            <li><a href="{{ 'elements.html' | absolute_url }}">Elements</a></li>-->
            <li>
              <span class="opener">Resources</span>
              <ul>
                <li><a href="{{ 'projects/edaipynb/index.html' | absolute_url }}">edaipynb</a></li>
<!--                <li><a href="{{ 'projects/PyLabControl/index.html' | absolute_url }}">PyLabControl</a></li>-->
<!--                <li><a href="#">Tempus Magna</a></li>-->
<!--                <li><a href="#">Feugiat Veroeros</a></li>-->
              </ul>
            </li>
<!--            <li><a href="#">Etiam Dolore</a></li>-->
<!--            <li><a href="#">Adipiscing</a></li>-->
<!--            <li>-->
<!--              <span class="opener">Another Submenu</span>-->
<!--              <ul>-->
<!--                <li><a href="#">Lorem Dolor</a></li>-->
<!--                <li><a href="#">Ipsum Adipiscing</a></li>-->
<!--                <li><a href="#">Tempus Magna</a></li>-->
<!--                <li><a href="#">Feugiat Veroeros</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#">Maximus Erat</a></li>-->
<!--            <li><a href="#">Sapien Mauris</a></li>-->
<!--            <li><a href="#">Amet Lacinia</a></li>-->
          </ul>
        </nav>

      <!-- Section -->
<!--        <section>-->
<!--          <header class="major">-->
<!--            <h2>Ante interdum</h2>-->
<!--          </header>-->
<!--          <div class="mini-posts">-->
<!--            <article>-->
<!--              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>-->
<!--              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--            </article>-->
<!--            <article>-->
<!--              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>-->
<!--              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--            </article>-->
<!--            <article>-->
<!--              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>-->
<!--              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
<!--            </article>-->
<!--          </div>-->
<!--          <ul class="actions">-->
<!--            <li><a href="#" class="button">More</a></li>-->
<!--          </ul>-->
<!--        </section>-->

      <!-- Section -->
<!--        <section>-->
<!--          <header class="major">-->
<!--            <h2>Get in touch</h2>-->
<!--          </header>-->
<!--          <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--          <ul class="contact">-->
<!--            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>-->
<!--            <li class="fa-phone">{{ site.phone }}</li>-->
<!--            <li class="fa-home">{{ site.street_address }}<br />-->
<!--            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />-->
<!--            {{ site.country }}</li>-->
<!--          </ul>-->
<!--        </section>-->

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
